@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    background-color:  #8ec5fc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    height: 100vh;
    
}

h1{
    border-bottom: 2px solid rgb(202,202,202);
    text-align: center;
    font-size: 18px;
    padding: 25px 0;
}